snippet type "IR instruction type"
`!p t[2] = t[1].upper()`case "$1": type = $2;
			break;
endsnippet

snippet viter "iterate through vector"
for ($1::iterator it = $2.begin(); it != $2.end(); ++it) {
	$3
}
endsnippet

snippet cp "competitive programming"
#include <bits/stdc++.h>
using namespace std;

typedef long long ll;

int main() {
    ios_base::sync_with_stdio(false);
    cin.tie(NULL);

	$1
}
endsnippet

snippet forl "for loop"
for (int $1 = 0; $1 < $2; $1++)
endsnippet
