snippet ingen "input generator"
#[aoc_generator(day$1)]
pub fn input_generator(input: &str) -> $2 {
	$3
}
endsnippet

snippet solve "solver"
#[aoc(day$1, part$2)]
pub fn solve_part$2(input: $3) -> $4 {
	$5
}
endsnippet
